main{
    padding: 10px;
}

h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    
    text-align: center;
text-transform: uppercase;}



#lista1{
    list-style-type: none;
    line-height: 2em;
    font-size: larger;
    font-weight: bolder;
}


    #lista2{
    
     list-style: none;
    
    }

    #lista2>li{
        line-height: 30px;
        font-size: 20px;
        margin: 10px;
    }