body{
    background-color: maroon;
}

.container{
    background-color: rgb(255, 255, 255);
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.imagens{
    position:static;
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}

.escrito{
    padding: 10px;
    position: relative;
    max-width:100%;
}   
.titulos{
    text-align: center;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inicio{
    display: flex;
    height: 200px;
    background-image: url(fundo.png);
    background-size: cover;
   
   

} 
p{
    font-family: sans-serif;
    line-height: 25px;
}

#anonimo{
 display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:899px){


}