body{
    
}
*{
    font-family:'Times New Roman', Times, serif;
}
#img{
    display: flex;
    background-image:url('/fundo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

}
#img1{
    margin: auto;
}

main{
    
    display: flex;
    max-width: 65vh;
    margin: auto;
    margin-top: 10px;
    border-top: solid black;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 5px;
}

#h1{
    text-align: center;
}

h3{
    text-align: center;
}


.texto{

}


.section{
    padding: 15px 0px 15px 0px;
    margin: 10px 0px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#eximg{
    border-radius: ;
    margin: 10px;
}


